body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
text-align: center;
background-color: #e63535;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-bottom: -20px;
margin-top:-20px;
}

header h1 {
    font-size: 48px;
    padding: 20px 0px;
}

main {
    background-color: #e63535;
    margin-bottom: -20px;
}

main h3 {
    text-align: center;
}

.board {
    height: 500px;
    width: 500px;
    display:grid;
}

.flex-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display:flex;
    justify-content: space-evenly;
    padding: 20px;
}

.buttons .black-btn:hover {
    background-color: black;
    color: white;
}

.buttons .white-btn:hover {
    background-color: white;
}

.buttons .random-btn:hover {
    animation: colorChange 5s infinite;
}

.buttons button {
    height: 40px;
    width: 80px;
    border-radius: 20px;
}

@keyframes colorChange {
    0% { background-color: red; }
    25% { background-color: blue; }
    50% { background-color: green; }
    75% { background-color: yellow; }
    100% { background-color: orange; }
  }

.set-size {
    display:flex;
    justify-content: center;
    margin:20px;
}

footer {
    background-color: #e63535;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


